<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- include library %>
</head>
<body>

    <article style="text-align: center">

        <h2>There once been a precious page in front of me.</h2>
        <h2>However, I didn't cherish it.</h2>
        <h2>After the lost, I feel regretted.</h2>
        <h2>If I had to say three letters,</h2>
        <h2>I would say:</h2>
        <h1>404</h1>
        </br>
        <a class="btn btn-default" href="/">Return to Home </a>
    </article>
    <%- include footer %>
</body>
</html>