extends layout

block content
    h1.cover-heading About...
    p.lead Software Maintenance System Based on Social Networking for Developers
    p.lead
        a.btn.btn-lg.btn-default(href="/project") Learn Project
                


