extends layout

block content
    h5(style="margin: 10px auto;text-align: center") Software Maintenance System Based on Social Networking for Developers
    form.form-horizontal
        div.input-group.se-input-group
            input.form-control.se-input(type="text",name="url",placeholder="Input the project changeset URL here")
        div.input-group.se-input-group
            input.btn.se-btn(type="submit" ,value="Changeset Analyse")
        div.input-group.se-input-group
            input.form-control.se-input(type="text",name="url",placeholder="Input the project ticket URL here")
        div.input-group.se-input-group
            input.btn.se-btn(type="submit" ,value="Ticket Analyse")


